.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 2rem;
  padding: 1rem;
  background-color: #282c34;
}

.gameArea {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.help {
  color: white;
  text-align: left;
  font-size: 0.9rem;
} 